<a href="https://colab.research.google.com/github/dwivedys/Python_Programs/blob/master/Copy_of_pythonreview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3]
print(a[0])
for item in a:
  if item%2 == 0:
    print(item)

1
2

In [ ]:
s1 = {1,2}
s2 = {1,2,3}
#print(s1 ^ s2)
myList = []
myList.append(s1^s2)
myList.append(s1&s2)
myList.append(s1|s2)
print(myList)

[{3}, {1, 2}, {1, 2, 3}]

In [ ]:
# Creating a Set
myset = {'a', 'b', 'c'}
print(myset)

{'c', 'b', 'a'}

In [ ]:
# Adding elements from an iterable to a set
myset.add('d')
mylist = [1, 2, 3]
myset.update(mylist)
print(myset)

{1, 2, 'b', 3, 'c', 'a', 'd'}

In [ ]:
# python classes
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

sd = Person("Sammy", 34)
print (f'Person sd has name as {sd.name} and age {sd.age}')

Person sd has name as Sammy and age 34

In [ ]:


ages = [13, 15, 16, 19, 22]
cutoff_age = 18
for age in ages:
  print(f'Age = {age}: Since I am {age} {"years old, I am a minor" if age < cutoff_age else "years old, I am an adult"}')

Age = 13: Since I am 13 years old, I am a minor
Age = 15: Since I am 15 years old, I am a minor
Age = 16: Since I am 16 years old, I am a minor
Age = 19: Since I am 19 years old, I am an adult
Age = 22: Since I am 22 years old, I am an adult

In [ ]:
nums = [1,2,3]
[n * n for n in nums]

[1, 4, 9]

In [ ]:
a = [1,2]
print (a * 2)

[1, 2, 1, 2]

In [ ]:
strs = ['foo', 'bar', 'baz']
[a * 2 for a in strs if 'b' not in a]
[a.upper() for a in strs if 'b' not in a]
[a.capitalize() for a in strs if 'b' in a]
# [<action> for each_elem in list if <condition>]

['Bar', 'Baz']

In [ ]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
list(itr)

['foo', 'bar', 'baz']

In [ ]:
myList = [1,2,3,4]
for num in myList:
  print(f'{"even " if num%2 == 0 else "odd"}')

odd
even
odd
even