<a href="https://colab.research.google.com/github/dwivedys/Python_Programs/blob/DaskPrograms/LearningDask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Testing np.random.random

In [ ]:
import time
import random

def costly_simulation(list_vals):
  time.sleep(random.random())
  return sum(list_vals)

In [ ]:
%time costly_simulation([1,2,3,4])

CPU times: user 607 µs, sys: 0 ns, total: 607 µs
Wall time: 150 ms

10

In [ ]:

import numpy as np
np.random.random(size = (500, 4))

array([[1.19997092e-01, 6.32921311e-02, 2.70765395e-01, 2.77366433e-01],
       [4.70658212e-01, 6.80282533e-01, 3.45451115e-01, 2.59278335e-02],
       [1.39827275e-01, 7.03352152e-01, 8.14700451e-01, 7.12310566e-01],
       ...,
       [6.98272705e-01, 8.42053298e-01, 9.80032440e-01, 2.41460729e-01],
       [8.98747231e-01, 2.28543561e-01, 6.81961245e-01, 4.80586471e-01],
       [1.67380701e-04, 9.47147015e-01, 6.83067728e-01, 1.08472323e-01]])

### Testing parallelization using Dask

In [ ]:
import pandas as pd
import numpy as np
test_df = pd.DataFrame(np.random.random(size = (500, 4)), columns = ['a', 'b', 'c', 'd'])
test_df.head()

          a         b         c         d
0  0.307290  0.056157  0.174268  0.905801
1  0.857121  0.992923  0.688053  0.770241
2  0.261898  0.070782  0.332951  0.509367
3  0.034537  0.289801  0.308697  0.825729
4  0.223401  0.490557  0.189243  0.585986

In [ ]:
# declare an empty list to hold the contents

results = []
%time
for val in test_df.values[:10]:
  sum_val = costly_simulation(val)
  results.append(sum_val)
results

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.91 µs

[1.4435158658547564,
 3.308337078859694,
 1.1749982536455008,
 1.4587636015587346,
 1.489187554372791,
 1.1037517826619472,
 3.4486478316416886,
 2.104908990511978,
 2.3719334135949683,
 2.595907035848654]

In [ ]:
# will return an array of 5 rows and 4 columns
test_df.values[:5]

array([[0.30729038, 0.05615702, 0.17426775, 0.90580071],
       [0.85712088, 0.99292265, 0.68805274, 0.77024081],
       [0.26189831, 0.07078178, 0.33295113, 0.50936705],
       [0.03453713, 0.28980064, 0.30869686, 0.82572896],
       [0.2234013 , 0.49055678, 0.18924306, 0.58598642]])

In [ ]:
#this syntax returns 10 rows and only two columns

test_df[['a', 'b']][:10]

          a         b
0  0.307290  0.056157
1  0.857121  0.992923
2  0.261898  0.070782
3  0.034537  0.289801
4  0.223401  0.490557
5  0.068971  0.219036
6  0.726549  0.961268
7  0.263269  0.969749
8  0.587757  0.824115
9  0.954952  0.660085

In [ ]:
#this syntax will work too
test_df[:10][['a', 'b']]

          a         b
0  0.307290  0.056157
1  0.857121  0.992923
2  0.261898  0.070782
3  0.034537  0.289801
4  0.223401  0.490557
5  0.068971  0.219036
6  0.726549  0.961268
7  0.263269  0.969749
8  0.587757  0.824115
9  0.954952  0.660085