<a href="https://colab.research.google.com/github/dwivedys/Python_Programs/blob/PythonPrograms/pythonreview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
a = [1,2,3]
print(a[0])
for item in a:
  if item%2 == 0:
    print(item)

1
2

In [8]:
# Creating a Set
myset = {'a', 'b', 'c'}
print(myset)

{'c', 'b', 'a'}

In [10]:
# Adding elements from an iterable to a set
myset.add('d')
mylist = [1, 2, 3]
myset.update(mylist)
print(myset)

{1, 2, 'b', 3, 'c', 'a', 'd'}

In [16]:
# python classes
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

sd = Person("Sammy", 34)
print (f'Person sd has name as {sd.name} and age {sd.age}')

Person sd has name as Sammy and age 34

In [22]:
ages = [13, 15, 16, 19, 22]
for age in ages:
  print(f'Age = {age} --> I am {"a minor" if age < 18 else "an adult"}')

Age = 13 --> I am a minor
Age = 15 --> I am a minor
Age = 16 --> I am a minor
Age = 19 --> I am an adult
Age = 22 --> I am an adult