<a href="https://colab.research.google.com/github/dwivedys/Python_Programs/blob/master/SimplePythonPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def square(n):
  return n * n

In [5]:
square(9)

81

In [8]:
nums = [1, 2, 4, 6]
squared_nums = []
for num in nums:
  squared_nums.append(square(num))
print(squared_nums)

[1, 4, 16, 36]

In [ ]:
from getpass import getpass

username = input('username: ')
password = getpass('password: ')
print("logging in...")

username: sa
password: ··········
logging in...

In [ ]:
class Person:
  pass

person_info = {'first':'Saurabh', 'last':'Dwivedy'}
for key, val in person_info.items():
  setattr(Person, key, val)

# print(person.first)
# print(person.last)

for key in person_info.keys():
  print(getattr(person, key))

Saurabh
Dwivedy
Saurabh
Dwivedy

In [ ]:
class Person:
  pass

person = Person()
person.first = "Saurabh"
person.last = "Dwivedy"
person.age = 44
print(f'First name: {person.first}')
print(f'Last name: {person.last}')
print(f'{person.first} {person.last} is {person.age} years old')

First name: Saurabh
Last name: Dwivedy
Saurabh Dwivedy is 44 years old

In [ ]:
a, b, *_ = [1, 2, 3, 4, 5]
print(a, b)

1 2

**Here variables a and b get the first two positional values in the array [1,2] and the remaining values [3,4,5] get "unpacked" into the variable c**

In [1]:
a, b, *c = [1, 2, 3, 4, 5]

In [2]:
print(c)

[3, 4, 5]

In [ ]:
a, b = [1,2]
print(f'a = {a} and b = {b}')

a = 1 and b = 2

In [ ]:
names = ['saurabh', 'gauri', 'suruchi']
titles = ['papa', 'beti', 'bibi']
for seq, name in enumerate(names):
  title = titles[seq]
  print(f'{name} is actually {title}')

saurabh is actually papa
gauri is actually beti
suruchi is actually bibi

In [ ]:
names = ['saurabh', 'gauri', 'suruchi']
titles = ['papa', 'beti', 'bibi']
for name, title in zip(names, titles):
  print(f'{name} is actually {title}')

saurabh is actually papa
gauri is actually beti
suruchi is actually bibi

In [ ]:
x = 1 if 1 == 1 else 0
print(x)

1

In [ ]:
condition = True
x = 1 if condition else 0
print (x)

1